.header,
.header-1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-shrink: 1;
  gap: 49px;
  height: auto;
  margin-right: 1.0px;
  margin-top: 68px;
  position: relative;
  width: fit-content;
  z-index: 1;
}

.title,
.title-2 {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.site-logo,
.site-logo-1 {
  height: 65.48px;
  min-width: 65.48px;
  position: relative;
}

.site-title,
.site-title-1 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.title-1,
.title-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.header-page-select,
.header-page-select-1 {
  align-items: flex-end;
  display: flex;
  gap: 18px;
  justify-content: center;
  padding: 17px 10px;
  position: relative;
  width: 729px;
}

