.governance-3 {
  align-items: center;
  background-color: var(--spectra);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  position: relative;
  width: 100%;
}

.governance-function-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: 3.71px;
  margin-top: 77px;
  min-height: 756px;
  width: 1022px;
  z-index: 2;
}

.frame-52 {
  align-items: center;
  display: flex;
  gap: 172px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.function-title-1 {
  align-items: center;
  display: flex;
  height: 42px;
  min-width: 678.71px;
  position: relative;
}

.function-box-1 {
  border: 1px solid;
  border-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 44px;
  height: 686px;
  margin-right: 4.68px;
  position: relative;
  width: 991px;
}

.rewards-select {
  display: flex;
  margin-left: 232px;
  width: 541px;
}

.rewards-grid {
  display: flex;
  flex: 1;
}

.frame-47-1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  height: 522.43px;
  padding: 12px 0px 0px;
  position: relative;
  width: 541px;
}

.frame-46-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.group-1-1 {
  height: 260.83px;
  min-width: 521px;
  position: relative;
}

.overlap-group-1 {
  height: 261px;
  position: relative;
  width: 521px;
}

.chain-selector-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 165px;
  position: absolute;
  top: 114px;
  width: fit-content;
}

.frame-45-2 {
  align-items: center;
  border: 1px solid;
  border-color: var(--white);
  display: flex;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

.frame-43-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 151px;
}

.upload-proposal {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -4.00px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-44-2 {
  height: 32px;
  min-width: 20px;
  position: relative;
}

.output-div-box-1 {
  height: 261px;
  left: 0;
  position: absolute;
  top: 0;
  width: 521px;
}

