.valoper-address {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 153px;
  position: absolute;
  top: 62px;
  width: fit-content;
}

.valoper-address.tokens {
  top: 171px;
}

