:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --cyan--aqua: #00ffff;
  --gravel: #4b4b4b8f;
  --spectra: #395557a6;
  --white: #ffffff;
 
  --font-size-l: 28px;
  --font-size-m: 16px;
  --font-size-s: 15px;
  --font-size-xl: 32px;
  --font-size-xs: 14px;
 
  --font-family-fira_code: "Fira Code", Helvetica;
}
.firacode-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.firacode-medium-white-16px-2 {
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.firacode-medium-cyan--aqua-16px {
  color: var(--cyan--aqua);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.firacode-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.firacode-light-white-28px {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.firacode-medium-white-32px {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.firacode-medium-white-15px {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.firacode-bold-white-28px {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.firacode-medium-cyan--aqua-32px {
  color: var(--cyan--aqua);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.firacode-medium-alto-32px {
  color: var(--alto);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.firacode-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}
