.governance-selector {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 31px;
  padding: 5px 10px;
  position: relative;
  width: 126px;
}

.governance {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.governance-selector.governance-selector-1 {
  height: unset;
  width: fit-content;
}

