.h2 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 16px;
  height: 42px;
  position: relative;
  width: 678.71px;
}

.frame-26 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: fit-content;
}

.frame-26-item {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.line-7-stroke {
  flex: 1;
  height: 1px;
  min-width: 411.71px;
  position: relative;
}

.h2.h2-1 .line-7-stroke {
  min-width: 450.71px;
}

