.description-of-function,
.description-of-function-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.ditch-the-cli-and-claim-your-commish,
.submit-any-proposal {
  height: 79.53px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 448px;
}

.press-the-button,
.simply-upload-your-p {
  height: 35.06px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 448px;
}

