.distribution-selecor,
.distribution-selecor-1,
.distribution-selecor-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  width: fit-content;
}

.distribution-1,
.distribution-2,
.distribution-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

