.commission,
.rewards,
.redelegate,
.commission-2,
.commission-4,
.governance-type-selector-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.frame-41,
.frame-41-1 {
  align-items: flex-start;
  background-color: var(--gravel);
  border: 1px solid;
  border-color: var(--white);
  display: flex;
  gap: 10px;
  padding: 5px 25px;
  position: relative;
  width: fit-content;
}

.commission-1,
.rewards-1,
.redelegate-1,
.commission-3,
.commission-5,
.vote,
.place,
.vote-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

