.social-line,
.social-line-1,
.social-line-2 {
  display: flex;
  height: 311px;
  left: 0;
  position: fixed;
  top: 0;
  width: 32px;
  z-index: 3;
}

.media,
.media-1,
.media-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 32px;
}

.line-10-stroke,
.line-10-stroke-1,
.line-10-stroke-2 {
  height: 191px;
  min-width: 1px;
  position: relative;
}

.frame-16,
.frame-16-1,
.frame-16-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.frame-16-item,
.frame-16-item-1,
.frame-16-item-2 {
  height: 32px;
  min-width: 32px;
  position: relative;
}

