.services-selector,
.services-selector-1,
.services-selector-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  width: fit-content;
}

.services,
.services-1,
.services-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

