.signature-button,
.signature-button-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.frame-42,
.frame-42-1 {
  align-items: center;
  border: 1px solid;
  border-color: var(--white);
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 5px 8px;
  position: relative;
  width: fit-content;
}

.sign,
.sign-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

